.header {
    font-size: 2rem;
    font-weight: bold;
    background-color: #58ec9b;
    color: #424141e3;
    overflow: hidden;
}

.header .logo {
    text-align: center;
}

.header .menu {
    text-align: center;
    list-style: none;
}

.menu li {
    padding: 1.5rem;
}

.menu li a {
    text-decoration: none;
    color: rgba(66, 65, 65, 0.795);
    transition: color 300ms;
}

.menu li a:hover {
    color: #f7f9fa;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #63e8bc;
    color: #fff;
    font-weight: bold;
    height: 23rem;
    padding: 3rem;
}

footer p {
    text-align: center;
    font-size: 2.42rem;
}

@media screen and (min-width: 980px) {
    .header {
        height: 18rem;
    }

    .header .logo {
        float: left;
    }

    .header .menu {
        float: right;
        padding: 4rem;
        margin-top: 4rem;
    }

    .menu li {
        float: left;
    }

    main .smartphones h2 {
        text-align: left;
        font-size: 3.2rem;
        color: #3ddc84;
        margin-bottom: 3rem;
    }

    footer {
        height: 12rem;
    }

    footer p {
        font-size: 2.2rem;
    }
}
